/*
 *
 *  // Map Markers CSS
 *
 */
/*.basemap{*/
/*  background-image: url("../img/blankmap.png");*/
/*}*/
/*.germanymap{*/
/*  background-image: url("../img/Deutschland.png");*/
/*}*/
.KBmap__mapContainer {
  width: 67%;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  /*justify-content: center;*/
}

.KBmap__mapHolder {
  display: inline-block;
  position: relative;
}

.KBmap__mapHolder svg {
  max-width: 100%;
}
.KBmap__mapHolder img {
  max-width: 100% !important;
  width: 100% !important;
}
@-webkit-keyframes iconChange {
}
@-webkit-keyframes mapMarkerAnimation {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes mapMarkerAnimation {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

.marker {
  background-color: #da0a1d;
  border-radius: 50px;
  height: 9px;
  width: 9px;
  pointer-events: visible;
}

.marker:hover {
  background-color: gray;
}
/*.marker-active{*/
/*  background-color: gray;*/
/*}*/
/*.active {*/
/*  background-color: grey;*/
/*  border-radius: 50px;*/
/*}*/
#nav ul.sub-nav {
  display: none;
}

#nav ul.visible {
  display: block;
}
.boldcountry-active {
  font-weight: 500;
}
.countryName {
  font-size: 12px;
  /*padding-left: 9px;*/
  margin-left: 4px;
}
.corporate_marker {
  background-color: #0b4d7d;
  border-radius: 50px;
  height: 9px;
  width: 9px;
  pointer-events: visible;
}
/*. corporate_marker .marker-active{*/
/*  background-color: gray;*/
/*}*/
.corporate_marker:hover {
  background: gray;
}
.corporate_marker-active {
  background: gray;
}
.KBmap__marker {
  position: absolute;
  -webkit-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
  top: 42%;
  left: 69%;
  z-index: 1;
  /*background-image: url("../img/redcirclemarker.ico");*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: 6px 6px;
  /*opacity: 1;*/
  /*background-size: 16px 16px;*/
}

.KBmap__marker .active {
  background: gray;
}
/*.KBmap__marker:hover{*/

/*}*/
.KBmap__marker.current {
  z-index: 2;
}
/*.KBmap__mapContainer .KBmap__marker img {*/
/*  cursor: pointer;*/
/*  position: relative;*/
/*  !*position: absolute;*!*/
/*  z-index: 3;*/
/*  !*background-image: url("../img/redcirclemarker.ico");*!*/
/*  !*opacity: 1;*!*/
/*  !*opacity: 0;*!*/
/*  background-position: center;*/
/*  width: 9px;*/
/*}*/

/*.KBmap__marker img:hover{*/

/*  background-image: url("../img/graycolormarker.ico"); !* The image used *!*/
/*  background-position: center; !* Center the image *!*/
/*  !*background-repeat: no-repeat; !* Do not repeat the image *!*!*/
/*  !*background-size: 16px 24px; !* Resize the background image to cover the entire container *!*!*/
/*  opacity: 0;*/
/*  !*z-index: 2;*!*/
/*}*/

/*.line {*/
/*  border-bottom: 2px solid #ccc;*/
/*  display: block;*/
/*  margin-top: 100px;*/
/*  margin-left: 0px;*/
/*}*/
.KBmap__markerContent {
  width: 241px;
  height: auto !important;
  background-color: #ffffff;

  border-radius: 15px;
  float: right;
  margin-left: 272px !important;

  /*padding-top: 5px;*/
  /*padding-bottom: 3px;*/
  padding-left: 20px;
  /*padding-right: 20px;*/
  /*margin-top: 100px;*/
  -webkit-box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.15);
  position: absolute;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  z-index: 1;
}
.KBmap__markerContent img {
  width: 80% !important;
  height: auto !important;
  /*height: 100px !important;*/
  /*height:173px;*/
  /*position: absolute;*/
}

.line {
  position: absolute !important;
  height: 1px !important;
  background-color: gray !important;
  width: 20% !important;
  margin-left: 1% !important;
  display: block !important;
}
.KBmap__markerContent .KBmap__markerTitle {
  margin-top: 0px;
  margin-bottom: 0.5em;
}

.KBmap__markerContentItem {
  pointer-events: none;
}
/*.KBmap p span {*/
/*  display: block;*/
/*  font-size: 12px;*/
/*}*/
.KBmap__markerContentItem p {
  margin-bottom: 0.5em;
  margin-top: 0px;
}

.KBmap__markerClose {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #231f20;
}

.KBmap_cords {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: #e7b786;
  border: 2px solid #56270c;
  padding: 2px 5px;
  pointer-events: none;
}
.KBmap__markerContent {
  z-index: 99999 !important;
}
.KBmap__markerContentItem img {
  height: 113px !important;
}
.elementor-safe-mode-toast {
  display: none !important;
}
.locations {
  width: 32%;
  float: left;
  margin-top: 5%;
}
.circle {
  background: #da0a1d;
  border-radius: 60%;
  -moz-border-radius: 60%;
  -webkit-border-radius: 60%;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  line-height: 18px;
  margin-right: 1px;
  text-align: center;
  width: 20px;
  font-size: 10px;
}
.circle2 {
  background: #0b4d7d;
  border-radius: 60%;
  -moz-border-radius: 60%;
  -webkit-border-radius: 60%;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  line-height: 18px;
  text-align: center;
  width: 20px;
  font-size: 10px;
}
.both {
  -moz-border-radius: 60%;
  -webkit-border-radius: 60%;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  line-height: 18px;
  text-align: center;
  width: 20px;
  font-size: 11px;
  background: linear-gradient(
    -90deg,
    #0b4d7d,
    #0b4d7d 50%,
    white 50%,
    white 50%,
    #da0a1d 50%
  );
  border-radius: 60%;
}

@media only screen and (max-width: 768px) {
  .KBmap__mapContainer {
    width: 100% !important;
    float: left !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
  }
  .KBmap__mapHolder {
    width: 100% !important;
    position: relative !important;

    display: inline-block !important;
  }
  .KBmap__mapHolder img {
    max-width: 100% !important;
    width: 100% !important;
  }
  .KBmap__markerContent {
    float: left !important;
    padding-left: 20px !important;
  }
  .KBmap__markerContent img {
    height: auto !important;
    padding-bottom: 30px;
  }
  .line {
    display: none !important;
    visibility: hidden !important;
    position: none !important;
    height: 0px !important;
    background-color: none !important;
    width: 0% !important;
    margin-left: 0% !important;
  }

  .locations {
    width: 25% !important;
    float: left;
    margin-top: 5%;
  }
}
@media only screen and (max-width: 414px) {
  .KBmap__mapContainer {
    width: 100% !important;
    float: right;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
  }
  .KBmap__mapHolder {
    width: 70% !important;
    position: relative !important;

    display: inline-block !important;
  }
  .KBmap__mapHolder img {
    max-width: 100% !important;
  }
  div .KBmap__markerContent {
    max-width: 200px;
  }
  .KBmap__markerContent {
    float: left !important;
    padding-left: 20px !important;
    max-width: 160px !important;
    margin-left: 30px !important;
  }
  .KBmap__markerContent img {
    height: auto !important;
    padding-bottom: 30px;
    max-width: 80% !important;
  }
  .line {
    display: none !important;
    visibility: hidden !important;
    position: none !important;
    height: 0px !important;
    background-color: none !important;
    width: 0% !important;
    margin-left: 0% !important;
  }

  .countryName {
    font-size: 6px !important;
    margin-left: 4px !important;
  }
  .countryName a {
    font-size: 6px !important;
  }

  .locations {
    width: 30% !important;
    float: left;
    margin-top: 5%;
    font-size: 7px !important;
    height: 5px !important;
  }
  .counter {
    margin-bottom: 5px;
  }
  .circle {
    background: #da0a1d;
    border-radius: 20%;
    -moz-border-radius: 20%;
    -webkit-border-radius: 20%;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    line-height: 10px;
    margin-right: 1px;
    text-align: center;
    width: 10px;
    font-size: 6px;
  }
  .circle2 {
    background: #0b4d7d;
    border-radius: 20%;
    -moz-border-radius: 20%;
    -webkit-border-radius: 20%;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    line-height: 10px;
    text-align: center;
    width: 10px;
    font-size: 6px;
  }
  .both {
    -moz-border-radius: 20%;
    -webkit-border-radius: 20%;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    line-height: 10px;
    text-align: center;
    width: 10px;
    font-size: 6px;
    background: linear-gradient(
      -90deg,
      #0b4d7d,
      #0b4d7d 20%,
      white 20%,
      white 20%,
      #da0a1d 20%
    );
    border-radius: 20%;
  }
}
@media only screen and (max-width: 375px) {
  .KBmap__mapContainer {
    width: 100% !important;
    float: left !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
  }
  div .KBmap__mapHolder {
    width: 100% !important;
    position: relative !important;

    display: inline-block !important;
  }
  .KBmap__mapHolder img {
    max-width: 100% !important;
    width: 100% !important;
  }
  div .KBmap__markerContent {
    max-width: 200px;
  }
  .KBmap__markerContent {
    float: left !important;
    padding-left: 20px !important;
    max-width: 130px !important;
    margin-left: 30px !important;
  }
  .KBmap__markerContent img {
    height: auto !important;
    padding-bottom: 30px;
    max-width: 80% !important;
  }
  .line {
    display: none !important;
    visibility: hidden !important;
    position: none !important;
    height: 0px !important;
    background-color: none !important;
    width: 0% !important;
    margin-left: 0% !important;
  }
  .countryName {
    font-size: 6px !important;
    margin-left: 4px !important;
  }
  .countryName a {
    font-size: 6px !important;
  }

  .locations {
    width: 20% !important;
    float: left;
    margin-top: 5%;
    font-size: 7px !important;
    height: 5px !important;
  }
  .counter {
    margin-bottom: 5px;
  }
  .circle {
    background: #da0a1d;
    border-radius: 20%;
    -moz-border-radius: 20%;
    -webkit-border-radius: 20%;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    line-height: 10px;
    margin-right: 1px;
    text-align: center;
    width: 10px;
    font-size: 6px;
  }
  .circle2 {
    background: #0b4d7d;
    border-radius: 20%;
    -moz-border-radius: 20%;
    -webkit-border-radius: 20%;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    line-height: 10px;
    text-align: center;
    width: 10px;
    font-size: 6px;
  }
  .both {
    -moz-border-radius: 20%;
    -webkit-border-radius: 20%;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    line-height: 10px;
    text-align: center;
    width: 10px;
    font-size: 6px;
    background: linear-gradient(
      -90deg,
      #0b4d7d,
      #0b4d7d 20%,
      white 20%,
      white 20%,
      #da0a1d 20%
    );
    border-radius: 20%;
  }
}
